body {
    margin: 0;

    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;

    position: relative;
}

#world {
    width: 100vw;
    height: 100vh;

    position: relative;
}

#canvas {
    width: 100vw;
    height: 100vh;

    user-select: none;
}

#trash {
    position: absolute;

    top: 1em;
    left: 1em;

    border-radius: 100%;

    background-color: lightgray;

    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.5);
    
    user-select: none;
}
#trash.hover {
    background-image: radial-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2));
}
#trash > * {
    display: block;

    width: 3em;
    height: 3em;

    padding: 2em;
}

#palette {
    position: absolute;

    top: 1em;
    right: 1em;

    display: flex;

    flex-direction: column-reverse;
    
    gap: 1em;
    
    user-select: none;
}
#palette > * {
    width: 7em;
    height: 7em;

    border-radius: 100%;

    text-align: center;

    background-color: lightgray;

    box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.5);

    user-select: none;
}
#palette > *:hover {
    cursor: pointer;

    background-image: radial-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.2));
} 
#palette > *.active {
    background-image: radial-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.2));
} 